body {
  background-color: #141414;
  font-family: arial;
  padding-top: 50px;
}

footer{
  font-family: arial;
  text-shadow: 3px 3px black;
}

.starter-template {
  padding: 30px 15px;
  text-align: center;
}

.justified {
	left:50%;
	position:absolute;

}

.navbar-nav > li > a, .navbar-brand {
    height: 55px;
}
.navbar {min-height:28px;}

.navbar-inverse .navbar-brand {
    color: #ffffff;
}

.navbar-nav > li > a {
	padding-bottom:15px;
	padding-top:15px; 
}

.navbar {
	height: 50px;
}


.fullWidth {
   background-color: #141414;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
   width: 100%;
}

.text-primary {
	color: #ffffff;
}

.block2
{
    float:right;
    width: 180px;
}

.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto }